{% extends 'admin/base.html.twig' %}

{% block title %}Administration des slugans{% endblock %}

{% block body %}
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title-box">
                        <h4 class="page-title">Administration des Slugan</h4>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{{ path('admin_dashboard_index') }}">ChirurgieMed</a>
                            </li>
                            <li class="breadcrumb-item active">paramètres de slugan</li>
                        </ol>
                    </div>
                </div>
            </div>
            <!-- end row -->

            <div class="page-content-wrapper">
                <div class="row">
                    <div class="col-12">
                        <div class="card m-b-20">
                            <div class="card-body">

                                <h4 class="mt-0 header-title">Liste des slugans</h4>
                                {# <p class="text-muted m-b-30">DataTables has most features enabled by
                                    default, so all you need to do to use it with your own tables is to call
                                    the construction function: <code>$().DataTable();</code>.
                                </p> #}
                                {# <table id="datatable-buttons" class="table table-striped table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;"> #}

                                <table id="datatable-buttons"
                                       class="table table-striped dt-responsive table-hover nowrap"
                                       style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Titre</th>
                                        <th>Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for slugan in slugans %}
                                        <tr>
                                            <td>{{ slugan.id }}</td>
                                            <td>{{ slugan.slugan}}</td>
                                            <td>
                                                <div class="form-inline  align-items-lg-center">
                                                    <a href="{{ path('admin_slugan_show', {'id': slugan.id}) }}"
                                                       class="btn btn-primary mr-2" data-toggle="tooltip"
                                                       data-placement="top" title data-original-title="Détails"><i
                                                                class="fas fa-eye"></i> </a>
                                                    <a href="{{ path('admin_slugan_edit', {'id': slugan.id}) }}"
                                                       class="btn btn-primary mr-2" data-toggle="tooltip"
                                                       data-placement="top" title data-original-title="Modifier"><i
                                                                class="fas fa-edit"></i> </a>
                                                </div>
                                            </td>
                                        </tr>
                                    {% else %}
                                        <tr>
                                            <td colspan="4">Aucune element n'est enregistrée</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div> <!-- end col -->
                </div> <!-- end row -->
            </div>
            <!-- end page content-->
            <div class="form-inline align-items-lg-center my-3">
                <a class="btn btn-success mr-3" href="{{ path('admin_slugan_new') }}">
                    <i class="fas fa-plus"></i>
                    Ajouter un élément
                </a>

            </div>

        </div> <!-- container-fluid -->
    </div> <!-- content -->

{% endblock %}
