<form method="post" action="{{ path('admin_sous_famille_delete', {'id': sous_famille.id}) }}">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ sous_famille.id) }}">
    {#    <div>{{ sous_famille.articles|length }}</div> #} 
    {% if  famID is defined %}
        <a type="button" class="waves-effect waves-light text-warning" data-toggle="modal" data-target=".bs-example-modal-center">
            <span class="text-warning"  data-toggle="tooltip" data-placement="top" title data-original-title="Supprimer" ><i class="fas fa-trash"></i></span>
        </a>        

    {% else %}
        <button type="button" class="btn btn-danger waves-effect waves-light" data-toggle="modal" data-target=".bs-example-modal-center"><i class="fas fa-trash"></i> {{ button_label|default('Supprimer')}}</button>
    {% endif %}        
    {#<div class="modal bs-example-modal" tabindex="-1" role="dialog">#}
    <div class="modal fade bs-example-modal-center" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title mt-0"><i class="fas fa-question-circle text-warning"></i> Confirmation de suppression !</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% if  sous_famille.articles|length==0 %}
                    <div class="modal-body">
                        <br/>
                        <p>Etes-vous sur de vouloir supprimer la sous-famille : </p>
                        <p style="text-align: center">"<strong>{{ sous_famille.sousFamille }}</strong>" ?</p>
                        <br/>
                    </div>
                    <div class="modal-footer">
                        <button type="btn" class="btn btn-primary">Supprimer</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    </div>
                {% else %}
                    <div class="modal-body">
                        <br/>
                        <p>Impossible de supprimer la sous-famille : </p>
                        <p style="text-align: center">"<strong>{{ sous_famille.sousFamille }}</strong>" ?</p>
                        <p>car elle contient déjà des articles. </p>
                        <br/>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    </div>
                {% endif %}
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</form>
