

{% block _admin_order_orderDetails_entry_row %}
    <div class="form-group" id="block_{{id}}">
        {{ form_widget (form) }}
    </div>
{% endblock %}
{% block _admin_order_orderDetails_entry_widget %}
    <div class="py-3 px-4 my-2 border border-primary">
        <div class="row py-1">
            {# <div class="col-1">
                 <span class="btn btn-dark float-right" aria-disabled="true"> {{ value ? value.id : '*' }} </span>
             </div>#}


            <div class="col-1">
                {#                            {{ form_label(form.quantity) }}#}
                {{ form_widget(form.quantity) }}
                {{ form_errors(form.quantity) }}
            </div>
            <div class="col">
                {#            {{ form_label(form.article) }}#}
                {{ form_widget(form.article) }}
                {{ form_errors(form.article) }}
            </div>
            <div class="col-1">
                {#            {{ form_label(form.price) }}#}
                {{ form_widget(form.price) }}
                {{ form_errors(form.price) }}
            </div>
            <div class="col-2">
                {#            {{ form_label(form.subTotal) }}#}
                {{ form_widget(form.subTotal) }}
                {{ form_errors(form.subTotal) }}
            </div>
            <div class="col-1">
                {#            {{ form_label(form.sequence) }}#}
                {{ form_widget(form.sequence) }}
                {{ form_errors(form.sequence) }}
            </div>

            <div class="col-2 text-center">
                <button type="button" data-action="delete" data-target="#block_{{id}}"  class="btn btn-danger"><i class="fas fa-trash"></i></button>        
{#                <button type="button" data-action="position" data-target="#block_{{id}}"  class="btn btn-danger"><i class="fas fa-anchor"></i></button>        #}
            </div>
        </div>
    </div>


    {#  <div class="row py-1 border-bottom border-secondary">
  <span>images</span>
</div>#}

{% endblock %}