{% extends 'base.html.twig' %}
{% block title %}Marques{% endblock %}
{% block stylesheets %}
    {# <link rel="stylesheet" href="{{ asset('css/owl.carousel.min.css') }}">  #}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css">
    {# <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.js"></script> #}
{% endblock %}    
{% block body %}
    <div class="bbb_viewed">
        <div class="container">
            <div class="row">
                <div class="col">
                    {# <div class="bbb_main_container"> #}
                    <div class="">
                        {# <div class="bbb_viewed_title_container">
                            <h3 class="bbb_viewed_title">ORTHOPEDIE</h3>
                            <div class="bbb_viewed_nav_container">
                                <div class="bbb_viewed_nav bbb_viewed_prev"><i class="fas fa-chevron-left"></i></div>
                                <div class="bbb_viewed_nav bbb_viewed_next"><i class="fas fa-chevron-right"></i></div>
                            </div>
                        </div> #}
                        <div class="bbb_viewed_slider_container">
                            <div style="display: block;" class="owl-carousel owl-theme bbb_viewed_slider">
                                {% for brand in brands %}

                                    <div class="owl-item">
                                        <div class="bbb_viewed_item discount d-flex flex-column align-items-center justify-content-center text-center">
                                            <div class="bbb_viewed_image"><img src="{{ asset('uploads/images/brands/' ~ brand.logo)  }}" alt=""></div>
                                            <div class="bbb_viewed_content text-center">
                                                <div class="bbb_viewed_name"><a href="#">{{ brand.libelle }}</a></div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                                {#<div class="owl-item">
                                    <div class="bbb_viewed_item d-flex flex-column align-items-center justify-content-center text-center">
                                        <div class="bbb_viewed_image"><img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1560924221/51_be7qfhil.jpg" alt=""></div>
                                        <div class="bbb_viewed_content text-center">
                                            <div class="bbb_viewed_name"><a href="#">Marque 2</a></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item">
                                    <div class="bbb_viewed_item d-flex flex-column align-items-center justify-content-center text-center">
                                        <div class="bbb_viewed_image"><img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1560924241/8fbb415a2ab2a4de55bb0c8da73c4172--ps.jpg" alt=""></div>
                                        <div class="bbb_viewed_content text-center">
                                            <div class="bbb_viewed_name"><a href="#">Marque 3</a></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item">
                                    <div class="bbb_viewed_item is_new d-flex flex-column align-items-center justify-content-center text-center">
                                        <div class="bbb_viewed_image"><img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1560924275/images.jpg" alt=""></div>
                                        <div class="bbb_viewed_content text-center">
                                            <div class="bbb_viewed_name"><a href="#">Marque 4</a></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item">
                                    <div class="bbb_viewed_item discount d-flex flex-column align-items-center justify-content-center text-center">
                                        <div class="bbb_viewed_image"><img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1560924361/21HmjI5eVcL.jpg" alt=""></div>
                                        <div class="bbb_viewed_content text-center">
                                            <div class="bbb_viewed_name"><a href="#">Marque 5</a></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item">
                                    <div class="bbb_viewed_item d-flex flex-column align-items-center justify-content-center text-center">
                                        <div class="bbb_viewed_image"><img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1560924241/8fbb415a2ab2a4de55bb0c8da73c4172--ps.jpg" alt=""></div>
                                        <div class="bbb_viewed_content text-center">
                                            <div class="bbb_viewed_name"><a href="#">Marque 6</a></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item">
                                    <div class="bbb_viewed_item d-flex flex-column align-items-center justify-content-center text-center">
                                        <div class="bbb_viewed_image"><img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1560924241/8fbb415a2ab2a4de55bb0c8da73c4172--ps.jpg" alt=""></div>
                                        <div class="bbb_viewed_content text-center">
                                            <div class="bbb_viewed_name"><a href="#">Marque 7</a></div>
                                        </div>
                                    </div>
                                </div>#}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {# 2nd category #}

            {# <div class="row">
                <div class="col">
                    <div class="bbb_main_container">
                        <div class="bbb_viewed_title_container">
                            <h3 class="bbb_viewed_title">SABOS</h3>
                            <div class="bbb_viewed_nav_container">
                                <div class="bbb_viewed_nav bbb_viewed_prev"><i class="fas fa-chevron-left"></i></div>
                                <div class="bbb_viewed_nav bbb_viewed_next"><i class="fas fa-chevron-right"></i></div>
                            </div>
                        </div>
                        <div class="bbb_viewed_slider_container">
                            <div class="owl-carousel owl-theme bbb_viewed_slider">
                                <div class="owl-item">
                                    <div class="bbb_viewed_item discount d-flex flex-column align-items-center justify-content-center text-center">
                                        <div class="bbb_viewed_image"><img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1560924153/alcatel-smartphones-einsteiger-mittelklasse-neu-3m.jpg" alt=""></div>
                                        <div class="bbb_viewed_content text-center">
                                            <div class="bbb_viewed_name"><a href="#">Marque 1</a></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item">
                                    <div class="bbb_viewed_item d-flex flex-column align-items-center justify-content-center text-center">
                                        <div class="bbb_viewed_image"><img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1560924221/51_be7qfhil.jpg" alt=""></div>
                                        <div class="bbb_viewed_content text-center">
                                            <div class="bbb_viewed_name"><a href="#">Marque 2</a></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item">
                                    <div class="bbb_viewed_item d-flex flex-column align-items-center justify-content-center text-center">
                                        <div class="bbb_viewed_image"><img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1560924241/8fbb415a2ab2a4de55bb0c8da73c4172--ps.jpg" alt=""></div>
                                        <div class="bbb_viewed_content text-center">
                                            <div class="bbb_viewed_name"><a href="#">Marque 3</a></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item">
                                    <div class="bbb_viewed_item is_new d-flex flex-column align-items-center justify-content-center text-center">
                                        <div class="bbb_viewed_image"><img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1560924275/images.jpg" alt=""></div>
                                        <div class="bbb_viewed_content text-center">
                                            <div class="bbb_viewed_name"><a href="#">Marque 4</a></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item">
                                    <div class="bbb_viewed_item discount d-flex flex-column align-items-center justify-content-center text-center">
                                        <div class="bbb_viewed_image"><img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1560924361/21HmjI5eVcL.jpg" alt=""></div>
                                        <div class="bbb_viewed_content text-center">
                                            <div class="bbb_viewed_name"><a href="#">Marque 5</a></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item">
                                    <div class="bbb_viewed_item d-flex flex-column align-items-center justify-content-center text-center">
                                        <div class="bbb_viewed_image"><img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1560924241/8fbb415a2ab2a4de55bb0c8da73c4172--ps.jpg" alt=""></div>
                                        <div class="bbb_viewed_content text-center">
                                            <div class="bbb_viewed_name"><a href="#">Marque 6</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> #}
        </div>
    </div>
    {% block javascripts %}
        <script src="{{ asset('js/jquery-3.2.1.min.js')}}"></script>
        <script src="{{ asset('js/popper.min.js')}}"></script>
        <script src="{{ asset('js/bootstrap.min.js')}}"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.js"></script>
        <script>
            $(document).ready(function ()
            {


                if ($('.bbb_viewed_slider').length)
                {
                    var viewedSlider = $('.bbb_viewed_slider');

                    viewedSlider.owlCarousel(
                            {
                                loop: true,
                                margin: 30,
                                autoplay: true,
                                autoplayTimeout: 6000,
                                nav: false,
                                dots: false,
                                responsive:
                                        {
                                            0: {items: 1},
                                            575: {items: 2},
                                            768: {items: 3},
                                            991: {items: 4},
                                            1199: {items: 6}
                                        }
                            });

                    if ($('.bbb_viewed_prev').length)
                    {
                        var prev = $('.bbb_viewed_prev');
                        prev.on('click', function ()
                        {
                            viewedSlider.trigger('prev.owl.carousel');
                        });
                    }

                    if ($('.bbb_viewed_next').length)
                    {
                        var next = $('.bbb_viewed_next');
                        next.on('click', function ()
                        {
                            viewedSlider.trigger('next.owl.carousel');
                        });
                    }
                }


            });
        </script>
    {% endblock %}


{% endblock %}