{% extends 'admin/base.html.twig' %}

{% form_theme form with ['admin/brand/_brand_collection.html.twig'] %}

{% block title %}Modification de la marque : {{ brand.id }} !{% endblock %}

{% block body %}
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title-box">
                        <h4 class="page-title">Administration des marques</h4>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{{ path('admin_dashboard_index') }}">ChirurgieMed</a></li>
                            <li class="breadcrumb-item"><a href="{{ path('admin_brand_index') }}">Marque</a></li>
                            <li class="breadcrumb-item active">Edition</li>
                        </ol>
                    </div>
                </div>
            </div>
            <!-- end row -->
            <div class="page-content-wrapper">
                <div class="row">
                    <div class="col-12">
                        <div class="card m-b-20">
                            <div class="card-body">
                                <h4 class="mb-3 header-title">Modification de la marque : '{{ brand.id }}'</h4>
                                {{ include('admin/brand/_form.html.twig', {'button_label': 'Enregistrer les modifications'}) }}
                                <div class="form-inline align-items-lg-center my-3">
                                    <a class="btn btn-success mr-3" href="{{ path('admin_brand_index') }}"><i class="fas fa-chevron-left"></i> Retour à la liste</a>
                                    {{ include('admin/brand/__delete_form.html.twig') }}
                                </div>
                            </div>
                        </div>
                    </div> <!-- end col -->
                </div> <!-- end row -->
            </div>
            <!-- end page content-->
        </div> <!-- container-fluid -->
    </div> <!-- content -->
{% endblock %}


{% block javascripts %}
    <script>
        $('#admin_brand_imageFile').on('change', function () {
            //get the file name
            var fileName = $(this).val();
            //replace the "Choose a file" label
            $(this).next('.custom-file-label').html(fileName);
        {#            filePreview(this);#}
            });

    </script>


    <script>
        $(document).ready(function () {
            initSelect2();
        });

        function initSelect2() {
            $('select').select2();
        }
    </script>
    {#    <script src="{{ asset('admin/js/orderDetail.js')}}"></script>#}
{% endblock %}
