{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
    <!-- Start All Title Box -->
    <!-- End All Title Box -->

    <!-- Start Contact Us  -->
    <div class="box-main">
        <div class="container">
            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
            {% if not form.vars.valid %}
                <div class="alert alert-danger">
                    Erreur je ne sais pas quoi
                </div>
            {% endif %}

            <div>
                <img src="img/head-contactus.png" style="width:100%;height: 285px;">
            </div>

            <div class="row">
                <div class="col-lg-8 col-sm-12 col-contact">
                    <div id="contactForm" class="mt-4">
                        {{ form_start(form) }}
                        <div class="row">
                            <div class="col">{{ form_row(form.firstname) }} </div>
                            <div class="col">{{ form_row(form.lastname) }} </div>
                        </div>
                        <div class="row">
                            <div class="col">{{ form_row(form.phone) }} </div>
                            <div class="col">{{ form_row(form.email) }} </div>
                        </div>
                        {{ form_rest(form) }}
                        <div class="form-group">
                            <button class="btn btn-primary">Envoyer</button>
                        </div>
                        {{ form_end(form) }}
                    </div>

                    {#                    <div class="contact-form-right"> #}
                    {#                        <h2><u>Contactez Nous</u></h2> #}
                    {#                        <form id="contactForm"> #}
                    {#                            <div class="row"> #}
                    {#                                <div class="col-md-6"> #}
                    {#                                    <div class="form-group"> #}
                    {#                                        <input type="text" class="form-control" id="name" name="name" placeholder="Nom" required data-error="Entrez votre nom"> #}
                    {#                                        <div class="help-block with-errors"></div> #}
                    {#                                    </div> #}
                    {#                                </div> #}
                    {#                                <div class="col-md-6"> #}
                    {#                                    <div class="form-group"> #}
                    {#                                        <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Prénom" required data-error="Entrez votre prénom"> #}
                    {#                                        <div class="help-block with-errors"></div> #}
                    {#                                    </div> #}
                    {#                                </div> #}
                    {#                                <div class="col-md-12"> #}
                    {#                                    <div class="form-group"> #}
                    {#                                        <input type="text" placeholder="Telephone" id="tel" class="form-control" name="tel" required data-error="Entrez votre tel"> #}
                    {#                                        <div class="help-block with-errors"></div> #}
                    {#                                    </div> #}
                    {#                                </div> #}
                    {#                                <div class="col-md-12"> #}
                    {#                                    <div class="form-group"> #}
                    {#                                        <input type="text" placeholder="Entrer l'email" id="email" class="form-control" name="name" required data-error="Entrez votre email"> #}
                    {#                                        <div class="help-block with-errors"></div> #}
                    {#                                    </div> #}
                    {#                                </div> #}
                    {#                                <div class="col-md-12"> #}
                    {#                                    <div class="form-group"> #}
                    {#                                        <textarea class="form-control" id="message" placeholder="Message" rows="4" data-error="Ecrire le message" required></textarea> #}
                    {#                                        <div class="help-block with-errors"></div> #}
                    {#                                    </div> #}
                    {#                                    <div class="submit-button text-center"> #}
                    {#                                        <button style="opacity: 1;" class="btn hvr-hover" id="submit" type="submit">Envoyer</button> #}
                    {#                                        <div id="msgSubmit" class="h3 text-center hidden"></div> #}
                    {#                                        <div class="clearfix"></div> #}
                    {#                                    </div> #}
                    {#                                </div> #}
                    {#                            </div> #}
                    {#                        </form> #}
                    {#                    </div> #}
                </div>
                <div class="col-lg-4 col-sm-12">
                    <div class="contact-info-left">
                        <h2><u>Contacter</u></h2>
                        <ul>
                            <li>
                                <p><i class="fas fa-map-marker-alt"></i>LOT BELFQUIH, 91 AV.TARIK IBN<br> ZIAD – TEMARA
                                    - MAROC</p>
                            </li>
                            <li>
                                <p><i class="fas fa-phone-square"></i>Fix: <a href="tel:+212-661800300">+212 5 37 62 72
                                        12</a></p>
                            </li>
                            <li>
                                <p><i class="fas fa-envelope"></i>Email: <a href="mailto:chirurgiemed@gmail.com">pro@chirurgiemed.ma</a>
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Cart -->

{% endblock %}
